.App {
  text-align: center;
  background-color: red;
}



.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 30px;
  background-color: #08C5D1;


}

.test {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

  cursor: pointer;
}

.test:hover {
  -webkit-line-clamp: unset;
  white-space: normal;
}